::-webkit-scrollbar {
  width: 5px;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 100vw;
  font-family: "Roboto", sans-serif;
}

#main-container {
  background-color: #141313;
  min-width: 500px;
  padding: 60px 0;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(19, 18, 18, 0.781);
}

#sub-container {
  width: 110%;
  background-color: rgba(230, 16, 16, 0.52);
  padding: 40px 0;
  backdrop-filter: blur(4px);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: clamp(1.25rem, 5.5vw, 3rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  letter-spacing: 5px;
  box-shadow: 0 0 15px rgba(253, 30, 0, 0.781);
}

#lap {
  display: none;
}

#laps {
  display: none;
  background: rgb(202, 196, 196);
  height: 30vh;
  width: 350px;
  border-radius: 10px;
  overflow-y: auto;
  padding: 10px 20px 0 10px;
  line-height: 40px;
  box-shadow: 0 0 10px rgba(19, 18, 18, 0.781);
  text-align: center;
  font-size: clamp(0.45rem, 4vw, 1.05rem);
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;

  letter-spacing: 0.5px;
}

.lap-item {
}

.controls {
  width: 80%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
}

.controls button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #141313;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.25rem, 3.5vw, 1.05rem);
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.5px;
}

.controls #pause {
  display: none;
}

@media screen and (max-width: 576px) {
  #main-container {
    width: 80%;
    min-width: 80%;
    padding: 40px 0;
  }

  #sub-container {
    width: 110%;
    min-width: 110%;
    padding: 20px 0;
  }

  #laps {
    width: 80vw;
  }

  .controls button {
    padding: 5px 10px;
  }

  .controls {
    margin: 35px auto 0 auto;
  }
}

@media screen and (max-width: 992px) {
  body {
    flex-flow: column;
  }

  #laps {
    min-width: 55vw;
    text-align: center;
  }
}
